print('Hello Internet')

In [1]:
print('Hello Internet')

Hello Internet

to seperate the values using sep

In [2]:
print(1,2,3,4,sep = ',')

1,2,3,4

In [3]:
print('hello',end = '?')
# print() --for new line
print('world')

hello?world

format string

In [4]:
a= 1
b=2
print(f"{a} is {b}")

1 is 2

reading input from user

In [5]:
num = int(input('give a num'))
print(num)

55

if we give a multiple input foe a single variable it take it as a tuple

In [6]:
a =1,2,3,4
b,c,d=(1,2,3)
type(a)

tuple

math functions

In [ ]:
import math

math.ceil()
math.floor()

conditional statements

In [7]:
if 5>5:
    print("5")

loops

In [9]:
# for range(start,stop,step)

using start and stop

In [165]:
for i in range (-10,11):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

In [14]:
if -3:
    print("has value")

has value

In [ ]:
string = 'sudharsan'
newString = string.lower()
vol= ['a','e','i','o','u']
volcount = 0
volList =[]
conscount =0
consList=[]
for i in newString:
    if(i in vol):
        volcount = volcount+1
        volList.append(i)
    else:
        conscount = conscount+1
        consList.append(i)
    
print ( "num of vowels : ", volcount)
print(volList)
print ( "num of consonents : ", conscount)
print(consList)

In [ ]:
n=5
while n < 10:
    print(n)
    n= n+1 # udate counter

while with else

In [ ]:
count = 0
while count <3 :
    print()
else:
    print()

In [43]:
start=1
end = 10
_sum =0

while start <= end:
    _sum = _sum+start
    start = start+1
print(_sum)

55

In [48]:
n=10
print((n*(n+1))//2)

55

control statements

pass will simplly the pass thr error so called

In [49]:
def num():
    pass
num()

fibbo series 0+1+2+3+4+5 =>

In [ ]:
def fibonacci(n):
    fib_sequence = [0, 1]
    while 2< n:
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])
    return fib_sequence

# Example usage:
n = 10  # Number of Fibonacci numbers to generate
print(fibonacci(n))

In [55]:
def fibonacci(n):
    fib_sequence = [0, 1]  # Start with the first two Fibonacci numbers
    i = 2  # Start calculating from the 3rd Fibonacci number

    while i < n:  # Continue until the sequence contains n numbers
        fib_sequence.append(fib_sequence[-1] + fib_sequence[-2])  # Add the next number
        i += 1  # Move to the next index

    return fib_sequence[:n]  # Return only the first n Fibonacci numbers

# Example usage:
n = 10  # Number of Fibonacci numbers to generate
print(fibonacci(n))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

shallow and deep copy
deepCopy will only work on nested things
for normal copy use can use copy()

In [ ]:
import copy
a=[1,2,3,4,5,[5,6,7]]
b= copy.deepcopy(a) #  deepcopying the nested list
b[5][1]=100 # changing the value
print (a)   # og list
print (b)   # modified listz

tuples

In [4]:
t=(1,2,3,[1,2,3],4,5,6)
t

(1, 2, 3, [1, 2, 3], 4, 5, 6)

In [8]:
n=[]
for i in range(0,5):
    a=int(input("num :"))
    n.append(a)
tup = tuple(n)
print(tup)

(1, 2, 3, 4, 5)

DICTIONARY

In [12]:
d=dict({'name':'sudh','age':20, 'list':[1,2,3]})
d

{'name': 'sudh', 'age': 20, 'list': [1, 2, 3]}

In [20]:
dicts = {}
for i in range(2):
    keys = input("Keys: ")
    values = input("Values: ")
    dicts[keys] = values

print(dicts)

{'2': '1', '3': '4'}

In [23]:
l=[1,2,3]
len(l)

3

In [31]:
Keys_list= ['name','age','gender']
Values_list = ['sudhar',24,'male']

dicts = {}

for i in range(len(Keys_list)):
    dicts[Keys_list[i]]=Values_list[i]

dicts

{'name': 'sudhar', 'age': 24, 'gender': 'male'}

ZIP function

In [33]:
Keys_list= ['name','age','gender']
Values_list = ['sudhar',24,'male']
d=zip(Keys_list,Values_list)
print(d)
dicts=dict(d)
print(dicts)

<zip object at 0x000002A85F32AD00>
{'name': 'sudhar', 'age': 24, 'gender': 'male'}

In [36]:
# comprehensive for dict
squares = {x: x*x for x in range(6)}
print(squares)

#normal 
squares1={}
for x in range(6):
    squares1[x] = x*x
print(squares1)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [47]:
l=['abc','abcd']

#  d= {'abc': 3,'abcd':4}

d={}

for i in l :
    d[i] = len(i)
d

{'abc': 3, 'abcd': 4}

In [53]:
l=['abc','abcd']

#  d= {'abc': 3,'abcd':4}

# dicts = {i:len(i) for x in range(len(l))}
dicts = {i:len(i) for i in l}
print(dicts)

{'abc': 3, 'abcd': 4}

In [56]:
people = {1: {'name':'sudhar'}, 2:{'age': 24}, 3:{'list': [1,2,3]}}
people

{1: {'name': 'sudhar'}, 2: {'age': 24}, 3: {'list': [1, 2, 3]}}

sets

In [62]:
s1= {1,2,3,4,5}
s2 = {4,5,6,7}

# for union
print(s1 | s2) # genral format
print(s1.union(s2))     #using default fun

#for intersection
print(s1 & s2)
print(s1.intersection(s2))

#for differnce
print(s1 - s2)
print(s1.difference(s2))

# for symmetric difference
print(s1 ^ s2)
print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7}
{1, 2, 3, 6, 7}

In [65]:
l1 = [1,2,3,3,4,4]

s1 = set(l1)

print(type(s1))

l2 = list(s1)

print(type(l2))

print(l2)

<class 'set'>
<class 'list'>
[1, 2, 3, 4]

In [116]:
n=int(input())
for i in range(1, n):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19

In [113]:

# finding the length of the num
num =123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656565165165165151651651651651651651651351351321351313135135135135131321321
count = 0
while num > 0:
   num = num // 10 
   print(num)
   count = count+1 
print(count)

12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565656516516516515165165165165165165165135135132135131313513513513513132132
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656565651651651651516516516516516516516513513513213513131351351351351313213
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656565165165165151651651651651651651651351351321351313135135135135131321
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565656516516516515165165165165165165165135135132135131313513513513513132
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656565651651651651516516516516516516516513513513213513131351351351351313
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656565165165165151651651651651651651651351351321351313135135135135131
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565656516516516515165165165165165165165135135132135131313513513513513
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656565651651651651516516516516516516516513513513213513131351351351351
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656565165165165151651651651651651651651351351321351313135135135135
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565656516516516515165165165165165165165135135132135131313513513513
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656565651651651651516516516516516516516513513513213513131351351351
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656565165165165151651651651651651651651351351321351313135135135
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565656516516516515165165165165165165165135135132135131313513513
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656565651651651651516516516516516516516513513513213513131351351
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656565165165165151651651651651651651651351351321351313135135
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565656516516516515165165165165165165165135135132135131313513
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656565651651651651516516516516516516516513513513213513131351
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656565165165165151651651651651651651651351351321351313135
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565656516516516515165165165165165165165135135132135131313
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656565651651651651516516516516516516516513513513213513131
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656565165165165151651651651651651651651351351321351313
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565656516516516515165165165165165165165135135132135131
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656565651651651651516516516516516516516513513513213513
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656565165165165151651651651651651651651351351321351
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565656516516516515165165165165165165165135135132135
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656565651651651651516516516516516516516513513513213
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656565165165165151651651651651651651651351351321
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565656516516516515165165165165165165165135135132
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656565651651651651516516516516516516516513513513
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656565165165165151651651651651651651651351351
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565656516516516515165165165165165165165135135
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656565651651651651516516516516516516516513513
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656565165165165151651651651651651651651351
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565656516516516515165165165165165165165135
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656565651651651651516516516516516516516513
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656565165165165151651651651651651651651
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565656516516516515165165165165165165165
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656565651651651651516516516516516516516
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656565165165165151651651651651651651
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565656516516516515165165165165165165
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656565651651651651516516516516516516
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656565165165165151651651651651651
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565656516516516515165165165165165
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656565651651651651516516516516516
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656565165165165151651651651651
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565656516516516515165165165165
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656565651651651651516516516516
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656565165165165151651651651
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565656516516516515165165165
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656565651651651651516516516
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656565165165165151651651
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565656516516516515165165
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656565651651651651516516
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656565165165165151651
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565656516516516515165
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656565651651651651516
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656565165165165151
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565656516516516515
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656565651651651651
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656565165165165
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565656516516516
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656565651651651
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656565165165
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565656516516
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656565651651
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656565165
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565656516
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656565651
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656565
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565656
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656565
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865656
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686565
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468656
123544654654654654654654654653516516516513513513544654684654646849849849846846846846865
12354465465465465465465465465351651651651351351354465468465464684984984984684684684686
1235446546546546546546546546535165165165135135135446546846546468498498498468468468468
123544654654654654654654654653516516516513513513544654684654646849849849846846846846
12354465465465465465465465465351651651651351351354465468465464684984984984684684684
1235446546546546546546546546535165165165135135135446546846546468498498498468468468
123544654654654654654654654653516516516513513513544654684654646849849849846846846
12354465465465465465465465465351651651651351351354465468465464684984984984684684
1235446546546546546546546546535165165165135135135446546846546468498498498468468
123544654654654654654654654653516516516513513513544654684654646849849849846846
12354465465465465465465465465351651651651351351354465468465464684984984984684
1235446546546546546546546546535165165165135135135446546846546468498498498468
123544654654654654654654654653516516516513513513544654684654646849849849846
12354465465465465465465465465351651651651351351354465468465464684984984984
1235446546546546546546546546535165165165135135135446546846546468498498498
123544654654654654654654654653516516516513513513544654684654646849849849
12354465465465465465465465465351651651651351351354465468465464684984984
1235446546546546546546546546535165165165135135135446546846546468498498
123544654654654654654654654653516516516513513513544654684654646849849
12354465465465465465465465465351651651651351351354465468465464684984
1235446546546546546546546546535165165165135135135446546846546468498
123544654654654654654654654653516516516513513513544654684654646849
12354465465465465465465465465351651651651351351354465468465464684
1235446546546546546546546546535165165165135135135446546846546468
123544654654654654654654654653516516516513513513544654684654646
12354465465465465465465465465351651651651351351354465468465464
1235446546546546546546546546535165165165135135135446546846546
123544654654654654654654654653516516516513513513544654684654
12354465465465465465465465465351651651651351351354465468465
1235446546546546546546546546535165165165135135135446546846
123544654654654654654654654653516516516513513513544654684
12354465465465465465465465465351651651651351351354465468
1235446546546546546546546546535165165165135135135446546
123544654654654654654654654653516516516513513513544654
12354465465465465465465465465351651651651351351354465
1235446546546546546546546546535165165165135135135446
123544654654654654654654654653516516516513513513544
12354465465465465465465465465351651651651351351354
1235446546546546546546546546535165165165135135135
123544654654654654654654654653516516516513513513
12354465465465465465465465465351651651651351351
1235446546546546546546546546535165165165135135
123544654654654654654654654653516516516513513
12354465465465465465465465465351651651651351
1235446546546546546546546546535165165165135
123544654654654654654654654653516516516513
12354465465465465465465465465351651651651
1235446546546546546546546546535165165165
123544654654654654654654654653516516516
12354465465465465465465465465351651651
1235446546546546546546546546535165165
123544654654654654654654654653516516
12354465465465465465465465465351651
1235446546546546546546546546535165
123544654654654654654654654653516
12354465465465465465465465465351
1235446546546546546546546546535
123544654654654654654654654653
12354465465465465465465465465
1235446546546546546546546546
123544654654654654654654654
12354465465465465465465465
1235446546546546546546546
123544654654654654654654
12354465465465465465465
1235446546546546546546
123544654654654654654
12354465465465465465
1235446546546546546
123544654654654654
12354465465465465
1235446546546546
123544654654654
12354465465465
1235446546546
123544654654
12354465465
1235446546
123544654
12354465
1235446
123544
12354
1235
123
12
1
0
162

In [7]:
# another method to find the length of the string
num =1234
str1= str(num)
print(len(str1))

4

In [137]:
# print the sub strings
'''1,10,101,1013
0,01,013
1,13
3'''

s='1013'

1 0 1 3 1 0 1 3 1 0 1 3 1 0 1 3

In [153]:
#reverse a string sentence

str1 = ' my name is abc'
l=[]
l=str1.split()
print(l)
l.reverse()
print(l)
res = ' '.join(l)
print(res)

['my', 'name', 'is', 'abc']
['abc', 'is', 'name', 'my']
abc is name my

In [6]:
#reverse a list using loops only

l=[2,5,4,8]
for i in range(((len(l)) -1),-1,-1):
    print(l[i])

8
4
5
2

FUNCTIONS

In [ ]:
# n=int(input())

def FizBuzz (n):
    for i in range(1, n):
        if i % 3 == 0 and i % 5 == 0:
            print("FizzBuzz")
        elif i % 3 == 0:
            print("Fizz")
        elif i % 5 == 0:
            print("Buzz")
        else:
            print(i)
FizBuzz(int(input()))

In [ ]:
# function with return and with paraneters

def add (num) -> int:
    if num % 2 == 0:
        return 'Even'
    else:
        return 'Odd'
res = add(2)
print(res)

# function with return and without parameter

def add ():
    if 4 % 2 == 0:
        return 'Even'
    else:
        return 'Odd'
sre = add()
print(res)

# function without return and without parameter

def add ():
    if 4 % 2 == 0:
        print ('Even')
    else:
        print ('Odd')
add()

# function without return and with parameter

def add (n):
    if 4 % 2 == 0:
        print ('Even')
    else:
        print ('Odd')
add(4)

In [16]:
# variable length arguments
def num (name,age,*args):
    print(name,age)
    print(a)
num(1,2,3,4)

1 2
(3, 4)

In [20]:
# variable length keyword arguments
def num(**kwargs):
    print()

num(a=12,b=13,c=14)

{'a': 12, 'b': 13, 'c': 14}

In [4]:
#Recursion

def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1) # -- its calls again and again untill it satisgied


x= factorial(3)
print (x)

6

In [7]:
# math . factiorial
import math

print("The factorial is : ", end="")
print(math.factorial(3))

The factorial is : 6

In [12]:
# we can use yield to return values
    # we can't derictly print it we want to store it in a list or convert it into a tuples
def num(a):
    for i in range(a):
        yield i

l=[]
for j in num(5):
    l.append(j)
l

[0, 1, 2, 3, 4]

In [13]:
for i in range(5):
    print(i)

0
1
2
3
4

In [22]:
def sample(num):
    return num
sample(1)

1

In [25]:
def calculate(num):
    def inner_func():
        nonlocal num
        num += 2
        return num
    return inner_func

odd = calculate(1)
print (odd())
print (odd())
print (odd())
print (odd())

# odd2 = calculate(1)
# print(odd2())
# calculate(num): This is the outer function that takes a parameter num. Inside this function, there's another function, inner_func().
# inner_func(): This is the inner function that modifies the variable num (which is defined in the outer scope of calculate).
# nonlocal num: The nonlocal keyword allows the inner function to modify the num variable from the outer function's scope, rather than creating a new local variable inside inner_func.
# num += 2: Each time inner_func() is called, the num is incremented by 2.
# return num: After updating num, the function returns the updated value of num.
# return inner_func: After defining inner_func, the outer calculate function returns a reference to inner_func.
#  This means odd (and later odd2) will actually be a reference to inner_func, not a direct value.

3
5
7
9

In [39]:
# decorator

def my_deco(func):
    def wrapper():
        print("Before")
        func()
        print("After")
        func()
    return wrapper()

@my_deco
def say_something():
    print('hai')

# say_something()

Before
hai
After
hai

In [53]:
# decorator

def my_deco(func):
    def wrapper():
        print("Before")
        func()
        print("After")
        func()
    return wrapper()


@my_deco
def say_something():
    print('hai')

# @my_deco
# def say_something():
#     print('hello')
    


# say_something()

Before
hai
After
hai
Before
hello
After
hello

In [55]:
#iterator function
t= ('a','b','c')

my_t = iter(t) # declare it

print(next(my_t))   # use it
print(next(my_t))
print(next(my_t))
# print(next(my_t))

a
b
c

In [58]:
# lambda function

double  = lambda x: x * 2
print(double(20))

40

In [61]:
a = lambda x,y,z: x+2*y+9*z

answer = a(1, 1, 1)
answer

12

In [63]:
num=12
for i in range (1,11):
    print(num, 'x', i, '=', num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [84]:
num =5
multi = lambda num: [i*num for i in range(1,11)]
a = multi(num)
for i in a:
    print(num, 'x', i, '=', i)
print(a)

# num = 5
# multi = lambda num: [i * num for i in range(1, 11)]
# a = multi(num)
# print (a)

# # for i in range(1, 11):
# #     print(num, 'x', i, '=', i * num)

5 x 5 = 5
5 x 10 = 10
5 x 15 = 15
5 x 20 = 20
5 x 25 = 25
5 x 30 = 30
5 x 35 = 35
5 x 40 = 40
5 x 45 = 45
5 x 50 = 50
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [85]:
out = lambda n: [print(f'{n} x {i} = {n*i}') for i in range(1,11)]
out(8)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

[None, None, None, None, None, None, None, None, None, None]

question 1 calculate the simple intrest using function

In [101]:
def simple_intrest(p,n,r):
    intrest = (p*n*r)/100
    return intrest + p

res = simple_intrest(1000,2,2)
# print(f'{res:.2f}')
print (res)

1040.0

question 2 for more p n r with names
output  = "a's simple intrest is -- for p r n"

In [1]:
# p = principle
# r = rate of intrest
# n = time

p= [1000, 2000, 3000, 4000, 5000]
r = [2, 4, 6, 8, 10]
n = [2, 4, 6, 8, 10]
name = ['a','b','c','d','e']
si = []


def simple_intrest(p,r,n):
    intrest = (p*r*n)/100
    return intrest + p


for i in range(len(name)):
    amount = simple_intrest(p[i], r[i], n[i])
    si.append(amount)
    print(f'{name[i]} invested {p[i]} with interest rate of {r[i]}% for {n[i]} years, resulting in a total amount of {si[i]}')
# print(f'{res:.2f}')

a invested 1000 with interest rate of 2% for 2 years, resulting in a total amount of 1040.0
b invested 2000 with interest rate of 4% for 4 years, resulting in a total amount of 2320.0
c invested 3000 with interest rate of 6% for 6 years, resulting in a total amount of 4080.0
d invested 4000 with interest rate of 8% for 8 years, resulting in a total amount of 6560.0
e invested 5000 with interest rate of 10% for 10 years, resulting in a total amount of 10000.0

question 3 compound intrest
formula:
CI  = p*((1+(r/100))**n) - p

In [116]:
p = 1000  # Principal amount
r = 5  # Annual interest rate (5%)
n = 4  # Compounded quarterly
t = 2  # Time in years

a = p * (1 + r/n)**(n*t)
ci = a-p
print(f'{ci:.2f}')

104.49

In [119]:
# p = principle
# r = rate of intrest
# n = time

p= [1000, 2000, 3000, 4000, 5000]
r = [2, 4, 6, 8, 10]
n = [2, 4, 6, 8, 10]
t = [2, 4, 6, 8, 10]
name = ['a','b','c','d','e']
ci = []

def compound_intrest(p,r,n,t):
    a = p * (1 + r/n)**(n*t)
    return ci.append(a - p)

for i in range(len(name)):
    compound_intrest(p[i],r[i],n[i],t[i])
    print(f'{name[i]} invested {p[i]} with intrest of {r[i]} with Compounded quarterly is {n[i]} for {t[i]} years whos \n\tcompound intrest is {ci[i]:.2f} ')

a invested 1000 with intrest of 2 with Compounded quarterly is 2 for 2 years whos
	compound intrest is 15000.00
b invested 2000 with intrest of 4 with Compounded quarterly is 4 for 4 years whos
	compound intrest is 131070000.00
c invested 3000 with intrest of 6 with Compounded quarterly is 6 for 6 years whos
	compound intrest is 206158430205000.00
d invested 4000 with intrest of 8 with Compounded quarterly is 8 for 8 years whos
	compound intrest is 73786976294838206464000.00
e invested 5000 with intrest of 10 with Compounded quarterly is 10 for 10 years whos
	compound intrest is 6338253001141147007483516026880000.00

question 1:
Matrix program

input :
3 3

output :
1 2 3
4 5 6
7 8 9

In [153]:
def matrix(row, col):
    for i in range(1,row+1):
        for j in range(1,col+1):
            print(j*1,end=' ')
        print() 
matrix(3,3)
# res = matrix(3,3)
# print(res)

print()

def matrix(row, col):
    num = 1
    for i in range(row):
        for j in range(col):
            print(num, end=' ')
            num += 1
        print()

matrix(3, 3)

1 2 3
1 2 3
1 2 3

1 2 3
4 5 6
7 8 9

question 2:
find the max of the three numbers

In [166]:
# by using default function
def maximum1(a,b,c):
    return max(a,b,c)

res = maximum1(1,2,3)
print('max value is :',res)

# using if condition
def maximum2(a,b,c):
    if a > b and a > c:
        print (f'a {a} is max')
    elif b > c:
        print (f'b {b} is max')
    else:
        print (f'c {c} is max')
maximum2(3,1,1)

max value is : 3
a 3 is max

question 3:
sum of all numbers in a list
using sum and without sum

In [182]:
list = [2,2,5,4]

# using sum function
def add1():
    return sum(list)
res1 = add1()
print(res1)

# without using sum function
def add2():
    temp = 0
    for i in list:
        temp = temp+i 
    return temp
res2 = add2()
print(res2)

13
13

question 4:
reverse a string without using inbuilt function

question 5:
calulate the factiorial of a num(a non negative - intiger)

question 6:
number gussiing game

In [201]:
list = [5,8,6,1,4,2,7]
# with using in
def guessing1(num):
    if num in list:
        return 'correct'
    else:
        return 'sorry'
res1 = guessing1(3)
print(res1)

# without using in 
def guessing2(num):
    for i in list:
        if num == i:
            return 'Correct answer..'
    return '!You guessed wrong..'
res2= guessing2(6)
print(res2)

sorry
Correct answer..

question 7:
num of upper and lower case in a string

In [218]:
#
# lcount = 0
# ucount = 0
def checkUpLw (string):
    lcount = 0
    ucount = 0
    for i in string:
        if i.isupper():
            ucount = ucount + 1
        else:
            lcount = lcount + 1
    print (f'LowerCase count: {lcount}\nUpperCase count: {ucount}')
checkUpLw('Sudh')

LowerCase count: 3
UpperCase count: 1

questoin 8:
takes a list and return a new list with unique elements of first list

In [228]:
l1 = [1, 2, 3, 41, 41]
l2 = []

def find_unique():
    for item in l1:
        if item not in l2:  # Check if item is not already in l2
            l2.append(item)
    return l2

res = find_unique()
print(res)

[1, 2, 3, 41]

question 9:
create a pascel triangle

question 10:
input:
"-red-green-yellow"
output:
"green-red-yellow"

sort in alphabet order

Regular expression
aka
regex
* findall
* search
* split
* sub

In [234]:
#findall in regex
import re

txt = 'The rain in Spain'
x = re.findall('Spain', txt)
print(x)

[]

In [255]:
# search in regex
import re
txt = 'The rain in Spain'
x = re.search('spain', txt)
if x:
    print('match founf')
else:
    print('no match found')

no match found

In [251]:
# split in regex

import re

txt = 'The rain in Spain'
x = re.split('\s',txt)  # removes the white spaces
print(x)

['The', 'rain', 'in', 'Spain']

<>:6: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
C:\Users\sudharsan.m1\AppData\Local\Temp\ipykernel_17428\1249514330.py:6: SyntaxWarning: invalid escape sequence '\s'
  x = re.split('\s',txt)  # removes the white spaces

In [252]:
# group in regex and search with some patterns
import re

s = 'abcd\nefgh\nijkl\nmop\n'
n= re.search('Cd.Ef',s,re.DOTALL | re.I)
if n:
    print(n.group())
else:
    print('no')

cd
ef

In [270]:
# email patter in regex
import re

email_list = ['quantum@test.com','quantum2@test.']

pattern = r'^[a-zA-Z0-9._]+@+[a-zA-Z]+\.+[a-zA-Z]{2,}$'

for i in email_list:
    if re.match(pattern, i):
        print(f'{i}\tMatch Found...')
    else:
        print(f'{i}\tMatch not found')

quantum@test.com	Match Found...
quantum2@test.	Match not found

In [272]:
# regex pattern to website URL

import re

Url_list = ['https://www.google.com']

pattern = r'^https+:+//+www+\.+[a-zA-Z0-9]+\.+[a-zA-Z]{2,}$'

for i in Url_list:
    if re.match(pattern, i):
        print(f'{i}\tMatch Found...')
    else:
        print(f'{i}\tMatch not found')

https://www1.google.com	Match not found

In [275]:
# regex pattern to check the ip

import re

ip_list = ['92.56.0.3']

pattern = r'^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$'


for i in ip_list:
    if re.match(pattern, i):
        print(f'{i}\tMatch Found...')
    else:
        print(f'{i}\tMatch not found')

92.56.0.3	Match Found...

HASHES IN PYTHON

In [17]:
print(hash('1,2,3'))
print(hash('abc'))
print(hash('skjdsbfsdfbsidfiahdifhgayuiogfihabfafihaoyfhia'))

-8424775258384717612
5243313762359962469
5706330484707456975

In [21]:
import hashlib

print('gusrented')
print(hashlib.algorithms_guaranteed)
print('avilable')
print(hashlib.algorithms_available)

gusrented
{'sha224', 'sha1', 'shake_128', 'sha3_384', 'shake_256', 'blake2s', 'sha512', 'sha3_512', 'sha384', 'sha256', 'md5', 'blake2b', 'sha3_224', 'sha3_256'}
avilable
{'sha384', 'sha256', 'blake2b', 'sha224', 'ripemd160', 'md5-sha1', 'shake_256', 'sha3_512', 'md5', 'sha3_256', 'sha512_256', 'sha1', 'sha512_224', 'shake_128', 'sm3', 'sha3_384', 'sha512', 'sha3_224', 'blake2s'}

In [24]:
h= hashlib.new('sm3')
h.update(b'abc')
print(h.digest())
print(h.hexdigest())

b'f\xc7\xf0\xf4b\xee\xed\xd9\xd1\xf2\xd4k\xdc\x10\xe4\xe2Ag\xc4\x87\\\xf2\xf7\xa2)}\xa0+\x8fK\xa8\xe0'
66c7f0f462eeedd9d1f2d46bdc10e4e24167c4875cf2f7a2297da02b8f4ba8e0

In [35]:
h1= hashlib.new('sha256')
Password = 'abc'
h1.update(Password.encode())
Password_hash = h.hexdigest()
print(Password_hash)

h2= hashlib.new('sha256')
mypassword = 'abc'
h2.update(mypassword.encode())
Password_hash1 = h.hexdigest()
print(Password_hash1)
if Password_hash1 == Password_hash:
    print('correct')
else:
    print('wrong')

bbb59da3af939f7af5f360f2ceb80a496e3bae1cd87dde426db0ae40677e1c2c
bbb59da3af939f7af5f360f2ceb80a496e3bae1cd87dde426db0ae40677e1c2c
correct

MAP() FUNCTION
it uses map(function, data)

In [6]:
list1 = [1,2,3,4,5.5]
def area(r):
    a = 3.14*r**2
    return a
res = map(area,list1)
list(res)

[3.14, 12.56, 28.26, 50.24, 94.985]

In [16]:
samplelist = [1, 2, 3, 4, 5.5]
area_of_circle = map(lambda r: 3.14 * r ** 2, samplelist)
list(area_of_circle)

[3.14, 12.56, 28.26, 50.24, 94.985]

FILTER IN PYTHON
with filter you can filter out with specific details

In [15]:
import  statistics as st

datalist = [1,2.2,2.3,2.4]
mean = st.mean(datalist)
print(mean)

fr = filter(lambda x:x>mean,datalist)
print(list(fr))

1.975
[2.2, 2.3, 2.4]

In [14]:
import  statistics as st

datastr = ['','sudhar','','something']
list(filter(None,datastr))

['sudhar', 'something']

REDUCE FUNCTION IMPORT BY functools

In [26]:
from functools import reduce
data = [2,3,5,4]
multiply = lambda x,y:x*y
reduce(multiply,data)

120

RANDOM FUNCTION IMPORT BY random

In [105]:
import random

print(random.random())
print()
print('random number with start and stop',random.randint(1,10)) # start stop
print()
print('random number with start and stop and step',random.randrange(1,50,10)) # start stop step
print()
num = ('a','b','c')
print('choose string with random ',random.choice(num))
print()
print('choose string in the given string',random.choice('computer'))
print()
numbers = [1,2,3]
random.shuffle(numbers)
print('shuffle the numbers',numbers)

0.3025522735237095

random number with start and stop 1

random number with start and stop and step 31

choose string with random  b

choose string in the given string r

shuffle the numbers [3, 1, 2]

NUMBER GUSSING GAME IN PYTHIN USING RANDOM

In [103]:
import random

system_generated = random.randint(1,5)
print(system_generated)

while True:
    user_input = int(input("Enter the number within 1 to 5: ") )
    if system_generated == user_input:
        print('You guessed correct..')
        break
    else:
        print('!Wrong answer. Try again')

1
You guessed correct..

Math in python
import using math
use this link to learn https://docs.python.org/3/library/math.html

In [117]:
import math

a,b,c=1,2,3


# Number-theoretic functions
print('Number-theoretic functions')
print('gcd',math.gcd(a, b))
print('square root',math.isqrt(c))
print()

Number-theoretic functions
gcd 1
square root 1

date time module in python

In [135]:
from datetime import datetime
now = datetime.now()
print (now)
type(num)

2024-12-19 16:35:48.083633

tuple

In [139]:
import datetime
d= datetime.datetime.strptime('2011-06-09', '%Y-%m-%d')
d.strftime('%m,%d,%Y')

'06,09,2011'

OS in python

In [155]:
import os

a = os.getcwd()

print(type(a))
print(a)

<class 'str'>
c:\Users\sudharsan.m1\Desktop\quantum\python

In [145]:
import os

folder_path = ''

if not os.path.exists(folder_path):
    os.makedirs(folder_path)
else:
    print('path already exists')

In [ ]:
import os

for dirpath,dirnames,filenames in os.walk(''):
    print('curent path : ',dirpath)
    print('dirs : ',dirnames)
    print('files : ',filenames)
    print()

statistics in python

In [161]:
with open('demo.txt','w+') as f:
    pass
print('file closed or not : ', f.closed)

file closed or not :  True

In [168]:
with open('demo.txt','r') as f:
    r = f.read()
    print(r)
# print('file closed or not', f.closed)

something

In [183]:
with open('demo.txt','r') as f:
    r = f.readlines()
    print(r)

['quantum\\svarma\n', 'varma']

In [165]:
with open('demo.txt','r') as f:
    for i in range(5):
        r = f.readline()
        print(r)

;fnwjkenbfjk

sd

as

sad

sadda

In [182]:
with open('demo.txt','a') as f:
    f.write('\nvarma')

In [191]:
with open('demo.txt','r') as f:
    r = f.readline()
    print(r)
    seeks = f.seek("R")
    print(seeks)
    tells = f.tell()
    print(tells)

quantum\svarma

TypeError: '<' not supported between instances of 'str' and 'int'

In [200]:
# Open a file in binary mode
with open("demo.txt", "r") as file:
    # Read the first 10 bytes
    data = file.read()
    print(data)
    print()

    # Move the cursor back to the beginning of the file
    file.seek(6)

    # Read the first 10 bytes again
    data_again = file.read()
    print(data_again)
    print()

    # Move 5 bytes forward from the current position
    file.seek(5, 1)

    # Read the next 5 bytes
    data_after_seek = file.read()
    print(data_after_seek)
    print()

    # Move 3 bytes from the end of the file
    file.seek(-3, 2)

    # Read the last 3 bytes
    data_from_end = file.read()
    print(data_from_end)

quantum
sudhar
varma
kowshik


m
sudhar
varma
kowshik

UnsupportedOperation: can't do nonzero cur-relative seeks

In [203]:
with open('demo.txt','r') as rf:
    with open('demo_copy.txt','w') as wf:
        for line in rf:
            wf.write(line)

json in python

In [226]:
import json
with open('text.json','w')as j:
    data = {}
    data['key'] = 'value'
    json.dump(data,j)
    print(type(j))
    print(type(data))

<class '_io.TextIOWrapper'>
<class 'dict'>

In [216]:
with open('text.json','r')as j:
    data = j.read()
    jsondata = json.loads(data)
    print(jsondata)

{'name': 'sudhar', 'age': 24, 'city': 'karur'}

In [223]:
document = {
    'name' : 'sudhar',
    'age' : 24,
    'city': 'karur'
}
res = json.dumps(document,indent=4)
print(type(res))

with open('text.json','w') as j:
    j.write(res)

<class 'str'>

CSV files in python

In [245]:
#writing a csv file as list
import csv
data = [['name','age','sec'],['sudh',24,'A'],['quantum',23,'b']]
with open('text.csv','w')as j:
    writer = csv.writer(j)  #
    writer.writerows(data)  # Write all rows to the file

In [251]:
# writing a csv file as dict
import csv

# Data to be serialized (list of dictionaries)
data = [
    {"Name": "John", "Age": 30, "City": "New York"},
    {"Name": "Jane", "Age": 25, "City": "Los Angeles"},
    {"Name": "Bob", "Age": 35, "City": "Chicago"}
]

# Open a CSV file in write mode
with open("text.csv", mode="w", newline="") as file:
    fieldnames = ["Name", "Age", "City"]  # Column headers
    writer = csv.DictWriter(file, fieldnames=fieldnames)
    
    writer.writeheader()  # Write the header row
    writer.writerows(data)  # Write all rows of data

In [246]:
#reading a csv file as a list
import csv
with open('text.csv','r',newline="")as j:
    reader = csv.reader(j)
    for row in j: # Read the data row by row
        print(row)
type(data)

name,age,sec


sudh,24,A


quantum,23,b

list

In [252]:
# reading a csv file as a dict
import csv

with open("text.csv", mode="r", newline="") as file:
    reader = csv.DictReader(file)
    
    for row in reader:
        print(row)
        print(type(row))

{'Name': 'John', 'Age': '30', 'City': 'New York'}
<class 'dict'>
{'Name': 'Jane', 'Age': '25', 'City': 'Los Angeles'}
<class 'dict'>
{'Name': 'Bob', 'Age': '35', 'City': 'Chicago'}
<class 'dict'>

In [ ]:
import csv
col = ['name','age','sec']
rows = [
    ['sudh',24,'A'],
    ['quantum',23,'b']
]
with open('text.csv','w') as csv_:
    # writing a writer
    csv_ = csv.writer(col)
    # wtiting a field
    csv_ = csv.writerow(col)
    # writing a rows
    csv_ = csv.writerows(rows)

In [258]:
import csv

with open("text.csv", mode="r", newline="") as file:
    reader = csv.DictReader(file)
    data_list=[]
    for row in reader:
        data_list.append(row)
for data in data_list:
    print(data_list)
    print(type(data_list))

[{'Name': 'John', 'Age': '30', 'City': 'New York'}, {'Name': 'Jane', 'Age': '25', 'City': 'Los Angeles'}, {'Name': 'Bob', 'Age': '35', 'City': 'Chicago'}]
<class 'list'>
[{'Name': 'John', 'Age': '30', 'City': 'New York'}, {'Name': 'Jane', 'Age': '25', 'City': 'Los Angeles'}, {'Name': 'Bob', 'Age': '35', 'City': 'Chicago'}]
<class 'list'>
[{'Name': 'John', 'Age': '30', 'City': 'New York'}, {'Name': 'Jane', 'Age': '25', 'City': 'Los Angeles'}, {'Name': 'Bob', 'Age': '35', 'City': 'Chicago'}]
<class 'list'>

In [3]:
import csv

# Define a custom dialect
class CustomDialect(csv.Dialect):
    delimiter = ";"
    quotechar = "'"
    quoting = csv.QUOTE_ALL
    lineterminator = "\n"

# Use the custom dialect
with open("data_custom.csv", mode="w", newline="") as file:
    writer = csv.writer(file, dialect=CustomDialect)
    writer.writerow(["Name", "Age", "City"])
    writer.writerow(["John", 30, "New York"])
    writer.writerow(["Jane", 25, "Los Angeles"])

In [9]:
import csv

# Read using the 'excel_tab' dialect
with open("data_custom.csv", mode="r", newline="") as file:
    reader = csv.reader(file,dialect='unix')
    for row in reader:
        print(row)

["'Name';'Age';'City'"]
["'John';'30';'New York'"]
["'Jane';'25';'Los Angeles'"]

In [15]:
import csv

# Data to be serialized (list of rows)
data = [
    ["Name", "Age", "City"],
    ["John", 30, "New York"],
    ["Jane", 25, "Los Angeles"],
    ["Bob", 35, "Chicago"]
]

# Open a CSV file in write mode using the unix dialect
with open("output_unix.csv", mode="w", newline="") as file:
    writer = csv.writer(file, dialect="unix")
    writer.writerows(data)

EXCEPTION HANDLING

In [24]:
l=[1,2,3,4,'A',5,6]
for i in l:
    try:
        c = i/2
        print(c)
    except Exception as e:
        print(f"Error: {type(e)}")
        print(e)

0.5
1.0
1.5
2.0
Error: <class 'TypeError'>
unsupported operand type(s) for /: 'str' and 'int'
2.5
3.0

LIST COMPREHENSION

In [ ]:
# list comprehension in python
list1 = [e ** 2 for e in a_list if type(e) == type.IntType]

list comprehension questions

question 1:
find all numbers from 1-1000 that are divisible by 7

In [5]:
l=[i for i in range(1,101) if i%7 == 0]
l

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

question2:
find all the numbers that has 3 in the number

In [8]:
l= [i for i in range(1,101) if '3' in str(i) ]
l

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93]

question 3:
count the num of spaces in the string

In [14]:
string = 'f f f'
Sum = sum([True for i in string if i == ' '])
print(Sum)

2

question 4:
consonents in a string

In [20]:
l1=['a','e','i','o','u']
s= 'sudhar'
l2=[i for i in s if i not in l1]
print(l2)
print(len(l2))

['s', 'd', 'h', 'r']
4

question 5
get the index and the values in the tuple for items in the list like key value

In [23]:
l1 = ['name','sudhar','age',2]
l2=[]
for i in l1:
    l2.append((l1.index(i),i))
l2

l1 = ['name','sudhar','age',2]
l2= [(l1.index(i),i) for i in l1 ]
l2

[(0, 'name'), (1, 'sudhar'), (2, 'age'), (3, 2)]

question 6:
find the common values in 2 list

In [33]:
l1 = [1, 2, 2, 3, 4]
l2 = [2, 3, 3, 4]

l3= []
for i in range(len(l1)):
    if l1[i] in l2:
        l3.append(l1[i])

print(l3)
l4=[(l1[i]) for i in range(len(l1)) if l1[i] in l2]
print(l4)

[2, 2, 3, 4]
[2, 2, 3, 4]

question 7:
append the number in alist

In [38]:
l=[]
s="sdhar 12 192 sud12"
w= s.split()
res = [num for num in w if num.isnumeric()]
res

['12', '192']

question 8:

In [47]:
l=[]
for i in range(1,11):
    if i%2 == 0:
        l.append('even')
    else:
        l.append('odd')
print(l)
l = ['even' if i % 2 == 0 else 'odd' for i in range(1, 11)]
print(l)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']
['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

question 9:
compare 2 list and if same make it as tuple

In [45]:
l1=[1,2,3,5]
l2=[2,3,1,4]
l3=[]
for i in range(len(l1)):
    if l1[i] in l2:
        l3.append((l1[i], l1[i]))
l3

l4=  [(i, i) for i in l1 if i in l2]
print(l4)

[(1, 1), (2, 2), (3, 3)]

question 10:
find all letter in a str that has below 4

In [50]:
s = 'quantum sidarth ans as sjdh s'
w= s.split()
l=[i for i in w if len(i) < 4 ]
l

['ans', 'as', 's']

question 11:
use a nested list comprehension  to find all of the num from 1 to 1000 that are divisible by 2 to 9

In [55]:
l=[]
for i in range(1,11):
    for j in range(2,10):
        if i % j == 0:
            l.append(i)
print(l)

# Find numbers between 1 and 100 divisible by any digit from 2 to 9
numbers = [i for i in range(1, 101) if any(i % d == 0 for d in range(2, 10))]
print(numbers)

num = [number  for number in range(1,101) if True in [True for x in range(2,10) if number % x == 0]]
print(num)

[2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 8, 8, 9, 9, 10, 10]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99, 100]