In [1]:
pip install pymongo

Defaulting to user installation because normal site-packages is not writeable
Collecting pymongo
  Downloading pymongo-4.10.1-cp312-cp312-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp312-cp312-win_amd64.whl (926 kB)
   ---------------------------------------- 0.0/926.7 kB ? eta -:--:--
   --- ------------------------------------ 81.9/926.7 kB 2.3 MB/s eta 0:00:01
   ------- -------------------------------- 174.1/926.7 kB 2.1 MB/s eta 0:00:01
   ----------- ---------------------------- 276.5/926.7 kB 2.1 MB/s eta 0:00:01
   --------------- ------------------------ 368.6/926.7 kB 2.1 MB/s eta 0:00:01
   ------------------- -------------------- 450.6/926.7 kB 2.0 MB/s eta 0:00:01
   ----------------------- ---------------- 553.0/926.7 kB 2.0 MB/s eta 0:00:01
   ---------------------------- ----------- 665.6/926.7 kB 2.1 MB/s eta 0:00:01
   -------------------------------- ------- 747.5/926.7 kB 2.0 MB/s eta 0:00:01
   ----------------------------------- ---- 819.2/926.7 kB 2.1 MB/s eta 0:00:01
   ---------------------------------------  921.6/926.7 kB 2.0 MB/s eta 0:00:01
   ---------------------------------------  921.6/926.7 kB 2.0 MB/s eta 0:00:01
   ---------------------------------------- 926.7/926.7 kB 1.8 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ---------------------------------------- 0.0/313.6 kB ? eta -:--:--
   ------------- -------------------------- 102.4/313.6 kB 2.0 MB/s eta 0:00:01
   ----------------------- ---------------- 184.3/313.6 kB 2.2 MB/s eta 0:00:01
   ------------------------------------- -- 297.0/313.6 kB 2.3 MB/s eta 0:00:01
   ---------------------------------------  307.2/313.6 kB 2.1 MB/s eta 0:00:01
   ---------------------------------------- 313.6/313.6 kB 1.5 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
from pymongo import MongoClient
from bson.objectid import ObjectId
from bson import SON
client = MongoClient('mongodb://localhost:27017')


db = client.books

people = db.bookOrders

In [8]:
people.insert_one({'name':'sam','age':21,'intrest':['books','movies']})
people.insert_one({'name':'ram','age':22})
people.insert_one({'name':'xaviour','age':26, 'intrest':['books','movies']})

InsertOneResult(ObjectId('676921bd999aaa044bd26e4c'), acknowledged=True)

In [6]:
for person in people.find():
    print(person)

{'_id': 0, 'first_name': 'Fyodor', 'last_name': 'Dostoyevsky', 'book_title': 'Demons', 'genre': 'Fiction', 'quantity': 10, 'date': datetime.datetime(2022, 10, 21, 11, 19, 30)}
{'_id': 1, 'first_name': 'Fyodor', 'last_name': 'Dostoyevsky', 'book_title': 'Brothers Karamosov', 'genre': 'Fiction', 'quantity': 25, 'date': datetime.datetime(2022, 10, 21, 11, 19, 30)}
{'_id': 2, 'first_name': 'Jacques', 'last_name': 'Derrida', 'book_title': 'The Politics of Friendship', 'genre': 'Fiction', 'quantity': 5, 'date': datetime.datetime(2022, 10, 21, 11, 19, 30)}
{'_id': 3, 'first_name': 'Charles', 'last_name': 'Dickens', 'book_title': 'Tale of Two Cities', 'genre': 'Fiction', 'quantity': 6, 'date': datetime.datetime(2022, 10, 21, 11, 19, 30)}
{'_id': 4, 'first_name': 'James', 'last_name': 'Joyce', 'book_title': 'Ulysses', 'genre': 'Fiction', 'quantity': 30, 'date': datetime.datetime(2021, 3, 13, 11, 19, 30)}
{'_id': 5, 'first_name': 'Henry David', 'last_name': 'Thoreau', 'book_title': 'Walden', 'genre': 'Nonfiction', 'quantity': 15, 'date': datetime.datetime(2021, 3, 13, 11, 19, 30)}
{'_id': 6, 'first_name': 'Virginia', 'last_name': 'Woolf', 'book_title': "A Room of One's Own", 'genre': 'Nonfiction', 'quantity': 18, 'date': datetime.datetime(2022, 10, 21, 11, 19, 30)}
{'_id': 7, 'first_name': 'Virginia', 'last_name': 'Woolf', 'book_title': "Mr's Dalloway", 'genre': 'Fiction', 'quantity': 14, 'date': datetime.datetime(2022, 10, 21, 11, 19, 30)}
{'_id': 8, 'first_name': 'Zadie', 'last_name': 'Smith', 'book_title': 'White Teeth', 'genre': 'Fiction', 'quantity': 8, 'date': datetime.datetime(2022, 10, 21, 11, 19, 30)}
{'_id': 9, 'first_name': 'Charles', 'last_name': 'Dickens', 'book_title': 'The Old Curiousity Shop', 'genre': 'Fiction', 'quantity': 6, 'date': datetime.datetime(2022, 10, 21, 11, 19, 30)}

In [11]:
make_id= people.insert_one({'name':'sidarth','age':27}).inserted_id
print(make_id)

676921e9999aaa044bd26e4e

In [13]:
print([p for p in people.find({'_id':ObjectId('676921e9999aaa044bd26e4e')})])

[{'_id': ObjectId('676921e9999aaa044bd26e4e'), 'name': 'sidarth', 'age': 27}]

In [14]:
print([p for p in people.find({'age':{'$lt':25}})])

[{'_id': ObjectId('676921bd999aaa044bd26e4a'), 'name': 'sam', 'age': 21, 'intrest': ['books', 'movies']}, {'_id': ObjectId('676921bd999aaa044bd26e4b'), 'name': 'ram', 'age': 22}]

In [9]:
print()
print('count:',people.count_documents({'genre':'Fiction'}))

count: 8

In [17]:
people.update_one({'_id':ObjectId('676921e9999aaa044bd26e4e')},{'$set':{'age':88}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [18]:
people.delete_many({'age':{'$lt':25}})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [24]:
pipeline = [
    {
        '$group':{
            '_id':'$name',
            'averageage':{'$avg':'$age'}
        }
    },
    {
        '$sort':SON([('averageage',1)])
    }
]

result = people.aggregate(pipeline)

for i in result:
    print(i)

{'_id': 'xaviour', 'averageage': 26.0}
{'_id': 'sam', 'averageage': 88.0}
{'_id': 'sidarth', 'averageage': 88.0}

In [25]:
from pymongo import MongoClient

client = MongoClient('mongodb://localhost:27017')

db = client['mydb1']
collection = db['emp_data1']

In [26]:
document = {
    'name' : 'Alice',
    'age' : 20,
    'city' : 'New York'
}

res = collection.insert_one(document)
print(f'inserted document ID:{res.inserted_id}')

inserted document ID:67692a06999aaa044bd26e52

In [29]:
documents = [
    {'name' : 'Bob','age' : 25,'city' : 'Chicago'},
    {'name' : 'Charlie','age' : 35,'city' : 'San Francisco'},
]
res = collection.insert_many(documents)
print(f'inserted document ID:{res.inserted_ids}')

inserted document ID:[ObjectId('67692b13999aaa044bd26e55'), ObjectId('67692b13999aaa044bd26e56')]

In [32]:
document = collection.find_one({'name':'Alice'})
print(document)

{'_id': ObjectId('67692a06999aaa044bd26e52'), 'name': 'Alice', 'age': 20, 'city': 'New York'}

In [31]:
documents = collection.find()
for doc in documents:
    print(doc)

{'_id': ObjectId('67692a06999aaa044bd26e52'), 'name': 'Alice', 'age': 20, 'city': 'New York'}
{'_id': ObjectId('67692b0b999aaa044bd26e53'), 'name': 'Bob', 'age': 25, 'city': 'Chicago'}
{'_id': ObjectId('67692b0b999aaa044bd26e54'), 'name': 'Charlie', 'age': 35, 'city': 'San Francisco'}
{'_id': ObjectId('67692b13999aaa044bd26e55'), 'name': 'Bob', 'age': 25, 'city': 'Chicago'}
{'_id': ObjectId('67692b13999aaa044bd26e56'), 'name': 'Charlie', 'age': 35, 'city': 'San Francisco'}

In [33]:
query = {'age':{'$gte':30}}
documents = collection.find(query)
for doc in documents:
    print(doc)

{'_id': ObjectId('67692b0b999aaa044bd26e54'), 'name': 'Charlie', 'age': 35, 'city': 'San Francisco'}
{'_id': ObjectId('67692b13999aaa044bd26e56'), 'name': 'Charlie', 'age': 35, 'city': 'San Francisco'}

In [34]:
query = {'name':'Alice'}
new_values = {'$set':{'age':31}}

result = collection.update_one(query,new_values)
print(f'Modified documents count: {result.modified_count}')

Modified documents count: 1

In [35]:
query = {'age':{'$gt':30}}
new_values = {'$set':{'city':'Updated City'}}

result = collection.update_many(query,new_values)
print(f'Modified documents count: {result.modified_count}')

Modified documents count: 3

In [36]:
data= [
    {"name":"John Doe","age":30,"city":"New York","hobbies":["reading","traveling","photography"],"salary":75000},
    {"name":"Jane Smith","age":28,"city":"Los Angeles","hobbies":["dancing","cooking","gardening"],"salary":68000},
    {"name":"Alex Johnson","age":35,"city":"Chicago","hobbies":["cycling","painting","hiking"],"salary":85000},
    {"name":"Emily Davis","age":40,"city":"San Francisco","hobbies":["yoga","knitting","traveling"],"salary":95000},
    {"name":"Michael Brown","age":25,"city":"Miami","hobbies":["surfing","video games","music"],"salary":55000}
]

result = collection.insert_many(data)
print(f'Inserted document Ids: {result.inserted_ids}')

Inserted document Ids: [ObjectId('67692ffc999aaa044bd26e57'), ObjectId('67692ffc999aaa044bd26e58'), ObjectId('67692ffc999aaa044bd26e59'), ObjectId('67692ffc999aaa044bd26e5a'), ObjectId('67692ffc999aaa044bd26e5b')]

In [37]:
pipeline = [
    {'$match': {'age': {'$gt' : 30}}}
]

res = collection.aggregate(pipeline)
for doc in res:
    print(doc)

{'_id': ObjectId('67692a06999aaa044bd26e52'), 'name': 'Alice', 'age': 31, 'city': 'Updated City'}
{'_id': ObjectId('67692b0b999aaa044bd26e54'), 'name': 'Charlie', 'age': 35, 'city': 'Updated City'}
{'_id': ObjectId('67692b13999aaa044bd26e56'), 'name': 'Charlie', 'age': 35, 'city': 'Updated City'}
{'_id': ObjectId('67692ffc999aaa044bd26e59'), 'name': 'Alex Johnson', 'age': 35, 'city': 'Chicago', 'hobbies': ['cycling', 'painting', 'hiking'], 'salary': 85000}
{'_id': ObjectId('67692ffc999aaa044bd26e5a'), 'name': 'Emily Davis', 'age': 40, 'city': 'San Francisco', 'hobbies': ['yoga', 'knitting', 'traveling'], 'salary': 95000}

In [38]:
pipeline = [
    {
        '$group':{
            '_id':'$city',
            'total_age':{'$sum':'$age'}
        }
    }
]

result = collection.aggregate(pipeline)

for i in result:
    print(i)

{'_id': 'Miami', 'total_age': 25}
{'_id': 'Updated City', 'total_age': 101}
{'_id': 'New York', 'total_age': 30}
{'_id': 'San Francisco', 'total_age': 40}
{'_id': 'Chicago', 'total_age': 85}
{'_id': 'Los Angeles', 'total_age': 28}

In [39]:
documents = [
    {'_id':1,'name' : 'sam','age' : 25,'city' : 'Chicago'},
    {'_id':2,'name' : 'steven','age' : 35,'city' : 'San Francisco'},
]
res = collection.insert_many(documents)
print(f'inserted document ID:{res.inserted_ids}')

inserted document ID:[1, 2]

In [11]:
x=13

if x>12 or x<15 and x==16:
    print("Given condition matched")
else:
    print("Given condition did not match")

Given condition matched

In [16]:
x= [lambda x:x for x in range(1,6)]
print(list(x))

[<function <lambda> at 0x000001E89AC68720>, <function <lambda> at 0x000001E89AC68AE0>, <function <lambda> at 0x000001E89AC6B880>, <function <lambda> at 0x000001E89AC68680>, <function <lambda> at 0x000001E89AC6BA60>]

In [13]:
x = [lambda x:x for x in range(1, 6)]
print([f(0) for f in x])

[0, 0, 0, 0, 0]