In [7]:
print("Hello World")

Hello World

In [8]:
print("Hello World")

Hello World

In [9]:
a=10
b=4.4

type(a)
type(b)

float

In [13]:
a=10
b=4.4

print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [19]:
a=10
print('the value of a is :',a )

the value of a is : 10

In [20]:
print(1,2,3, sep = ",", end = '?')

1,2,3?

In [23]:
#input

a = input('enter a value: ')
print(a)

10

In [24]:
n = input('enter a value')
print(n)
print(type(n))

'10'
<class 'str'>

In [25]:
a=10
s=str(a)
print(type(s))

<class 'str'>

In [30]:
#conditional Operators

#
a = int(input("Enter a value"))

if a == 0 :
    print("Zero")
elif a>0:
    print("positive")
else:
    print("Negative")

Negative

In [31]:
#loops

for i in range(2,5):
    print(i)

2
3
4

In [33]:
for i in range(1,5):
    for j in range(1,5):
        print(i*j, end = ' ')
    print()

1 2 3 4
2 4 6 8
3 6 9 12
4 8 12 16

In [35]:
for i in range(3):
    print("hello")
else:
    print("world")

hello

In [40]:

#find vowels and consonents in string

str = input("Enter a string ")
vcount = 0
ccount = 0

for i in str:
    if(i == 'a' or i == 'e'or i == 'i'or i == 'o'or i == 'u' ):
        vcount =+1
    else:
        ccount =+ 1

print("Vowels count" , vcount)
print("consonents count" , ccount)

consonents
vowels
consonents
vowels
vowels
consonents
Vowels count 1
consonents count 1

In [43]:
a = 0
while a<5:
    print(a)
    a = a+1

0
1
2
3
4

In [ ]:
#data structures or data types

#list - []
#tuple - ()
#set - {}
#dict - {key:value}

In [46]:
#list comprehension

x1=[1,2,3,2,2,4,2]
print(x1)


x2 = [n for n in x1 if n ==2]

print(x2)

x3 = [n for n in x1 if n != 2]
print(x3)

[1, 2, 3, 2, 2, 4, 2]
[2, 2, 2, 2]
[1, 3, 4]

In [53]:
#fibonnaci

n = 5
list1 = [0,1]

f = 0
s = 1

for i in range(n):
    t = f+s
    f = s
    s = t
    list1.append(t)

print(list1)

[0, 1, 1, 2, 3, 5, 8]

In [54]:
a = 1,2,3,4,5 #packing
a

(1, 2, 3, 4, 5)

In [55]:
a = ('name', 'age', 'dob') #unpacking
a

('name', 'age', 'dob')

In [58]:
li = []
for i in range(3):
    n = input('enter value:')
    li.append(n)
print(li)

['1', '2', '2']

In [62]:
import copy
l=[1,2,3]
m=copy.copy(l) #shallow copy
m.append(99)

print(l)
print(m)

[1, 2, 3]
[1, 2, 3, 99]

In [65]:
import copy
l=[1,2,3,[1,2,3]]
m=copy.deepcopy(l) #deep copy

m[3][2] = 999
print(l)
print(m)

[1, 2, 3, [1, 2, 3]]
[1, 2, 3, [1, 2, 999]]

In [66]:
#empty set - {}
#without using set function , it cant create set function

s = set()
print(type(s))

<class 'set'>

In [67]:
s = {1,2,3,4,2,3,1}
print(s)

{1, 2, 3, 4}

In [68]:
s.add(44)
print(s)

{1, 2, 3, 4, 44}

In [70]:
a = set()
b = set()
a={1,2,3,4,5,6}
b={3,4,5,6,8,9}
 
print(a | b)
print(a & b)
print(a-b)
print(a^b)

{1, 2, 3, 4, 5, 6, 8, 9}
{3, 4, 5, 6}
{1, 2}
{1, 2, 8, 9}

In [74]:
#create a list with 5 principle value

l = [1000,2000,3000]
r = 10
n= 1
k =[]
for i in l:
    s = i+(i*r*n/100)
    k.append(s)

print(k)

[1100.0, 2200.0, 3300.0]

In [78]:

l = [1000,2000,3000]
r = [10,20,30]
n = [1,2,3]
k =[]
for i in  range (len(l)):
    s =l[i] +(l[i]*r[i]*n[i]/100)
    k.append(s)

print(k)

[1100.0, 2800.0, 5700.0]

In [79]:
a= 'Welcome bro'
b = a.split(' ')
b

['Welcome', 'bro']

In [84]:
s = ', '.join(b)
s

'Welcome, bro'

In [86]:
#dict{}
d={'name' : 'abc', 'age' : 12}
d['age'] = 35
d['address'] = 'chennai'
d

{'name': 'abc', 'age': 35, 'address': 'chennai'}

In [88]:
d.pop('name')

'abc'

In [89]:
#user input

a = {}
for i in range(3):
    k =input('K:')
    v = input('v:')
    a[k] = v

a

{'name': "naveen'", 'age': '23', 'location': 'chennai'}

In [101]:
a = {}
for i in range(1):
    k =input('K:')
    v = input('v:')
    a[k] = v

a.items()
a.update({'name': 'Mateo'})
print(a.keys())
print(a.values())

dict_keys(['name'])
dict_values(['Mateo'])

In [102]:
k = ['name', 'age']
v = ['Alex', '22']

a = dict(zip(k,v))

#another method
#d= {}
#for i in range len((a)):
#       d[b[i]] = a[i]

a

{'name': 'Alex', 'age': '22'}

In [103]:
#nested dict

students = {1:{'name': 'Alex', 'age': '22'},
            2: {'name': 'Mateo', 'age': '24'}  }

students

{1: {'name': 'Alex', 'age': '22'}, 2: {'name': 'Mateo', 'age': '24'}}

In [104]:
#inserted

students[3] = {'name': 'Henry', 'age': '25'}

In [108]:
students

{1: {'name': 'Alex', 'age': '22'}, 2: {'name': 'Mateo', 'age': '24'}}

In [ ]:
#removed
del students[3]

In [113]:
l=['abc','name', 'apple', 'today', 'apple']

d = { x:len(x) for x in l}

"""
for i in l:
   d[i] = len(i)
"""
d

{'abc': 3, 'name': 4, 'apple': 5, 'today': 5}

In [125]:
n = int(input("Enter a value"))

for i in range(1,11):
    print(n,"x",i ,"=",n*i )

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [134]:
#count uppercase and lowercase

s = 'Hello WElcome To Python'
ucount = 0
lcount = 0

for i in s:
    if i.isupper():
        ucount += 1
    else:
        lcount += 1


print(ucount)
print(lcount)

5
18

In [147]:
#count uppercase and lowercase , digit

s = 'Hello,WElcome 223 To Python'
ucount = 0
lcount = 0
dcount = 0

for i in s:
    if i.isupper():
        ucount += 1
    elif i.isdigit():
        dcount += 1
    else:
        lcount += 1

s1= s.count(' ')
print(s[5])

print("ucount", ucount)
print("lcount", lcount)
print("dcount", dcount)
print("scount", s1)

,
ucount 5
lcount 19
dcount 3
scount 3

In [137]:
dic = {}

for i in range (97,119):
    dic[chr(i)] = i

print(dic)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118}

In [141]:
import string
dic = {}
# Generate ASCII lower case characters
r = string.ascii_lowercase



for i in r:
    dic[i] = ord(i)

print(dic)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [160]:
name =['Nikil', 'Anand', 'Shiva']
p =[1000,200,3000]
yr = [2,5,4]
rt=[8,7,7]

for i in range(len(name)):
    si = p[i] * yr[i]* rt[i]/100
    print(f'{name[i]} invested {p[i]} go a return of {si}')
print()
for i in range(len(name)):
    ci = p[i] * (1+(rt[i]/100))**yr[i]
    print(f'{name[i]} invested  {p[i]} go a return of {ci:.2f}')

Nikil invested 1000 go a return of 160.0
Anand invested 200 go a return of 70.0
Shiva invested 3000 go a return of 840.0

Nikil invested  1000 go a return of 1166.40
Anand invested  200 go a return of 280.51
Shiva invested  3000 go a return of 3932.39

In [162]:
#reverese my name
s = 'my name is alex'
k = ""
n  = s.split()

#method 1
#for i in range(len(n)-1,-1,-1):
#    k += n[i] + " "
#print(k)

#method 2
print(n[::-1])
r=" ".join(n[::-1])
r

['alex', 'is', 'name', 'my']

'alex is name my'

In [165]:
#sort dict using values
# Sample dictionary
sample_dict = {'apple': 5, 'banana': 2, 'orange': 8, 'grape': 1}

# Sorting using a for loop
sorted_dict = {}
for key in sorted(sample_dict, key=sample_dict.get):
    sorted_dict[key] = sample_dict[key]

print(sorted_dict)

{'grape': 1, 'banana': 2, 'apple': 5, 'orange': 8}

In [174]:
a='abcd'
#a,ab,abc,abcd
k=''

for i in a:
        
        k += i
        print(k)

a
ab
abc
abcd

In [175]:

s = 'abcd'
for i in range(len(s)):
    for j in range(i,len(s)):
        print(s[i:j+1], end = " ")
    print()

a ab abc abcd
b bc bcd
c cd
d

In [185]:

l = [2, 6, 3,4]
k = 10

for i in range(len(l)-1):
    for j in range(i,len(l)):
        if (l[i] + l[j] == k):
            print(l[i], l[j])
            print(i, j)

6 4
1 3