In [1]:
'''
file Modes in python

r, w, a
'''

'\nfile Modes in python\n\nr, w, a\n'

In [4]:
#open file in read mode

file = open("example.txt", "r")
file

In [9]:
#open file in write mode

file = open("example.txt", "w")
file

In [6]:
#open file in append mode

file = open("example.txt", "a")
file

In [16]:
with open('example.txt', 'r') as f:
    f_content = f.readline()
    print(f_content)

India, officially the Republic of India,[j][20] is a country in South Asia.

In [8]:
with open('car.txt','w') as f:
    pass

In [ ]:
#open file in write mode
with open('example.txt', 'w') as file:
    para = input("Enter a paragraph:")

    file.write(para)

    print("Paragraph has been written to the file")

Paragraph has been written to the file

In [12]:
#open file in append mode

with open('example.txt', 'a') as file:
    para = input("Enter a paragraph:")

    file.write(para)

    print("Paragraph has been written to the file")

Paragraph has been written to the file

In [17]:
with open('example.txt','r') as f:
    f_content = f.read()
    print(f_content)

India, officially the Republic of India,[j][20] is a country in South Asia.
It is the seventh-largest country in the world by area and the most populous country.
Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast,
 it shares land borders with Pakistan to the west;[k] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east.
In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia.

In [25]:
import datetime

#Get the current date and time
now = datetime.datetime.now()

#create a log message
log_message = f"Log entry created at{now}: This is a log message"

#open the log file in append mode
with open('example.txt', 'a') as file:
    file.write(log_message + '\n')

#print
print("Log entry has been written to the log file")

Log entry has been written to the log file

In [26]:
#copy files 

with open('example.txt','r') as file:
    f= file.read()

with open('car.txt','w') as file:
    f= file.write(f)

with open('car.txt', 'r') as file:
    f =file.read()
    print(f)

India, officially the Republic of India,[j][20] is a country in South Asia.
It is the seventh-largest country in the world by area and the most populous country.
Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast,
 it shares land borders with Pakistan to the west;[k] China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east.
In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia.Log entry created at2024-12-31 09:34:55.485477: This is a log message
Log entry created at2024-12-31 09:34:59.307733: This is a log message
Log entry created at2024-12-31 09:35:00.377831: This is a log message
Log entry created at2024-12-31 09:35:01.266168: This is a log message
Log entry created at2024-12-31 09:35:01.986107: This is a log message
Log entry created at2024-12-31 09:35:08.618628: This is a log message
Hi bro
Log entry created at2024-12-31 09:35:59.229382: This is a log message

In [29]:
#copy files another method

with open('example.txt','r') as e, open('car.txt','w') as c:

    for line in e:
        c.write(line)

with open('car.txt', 'r') as file:
    f =file.read()
    print(f)

In [35]:
#seek and tell

with open('example.txt', 'r') as e:
   
    e.seek(1000) #acts like cursor
    f = e.read()
    print(f)
    print(e.tell()) #count the space and words

a log message
Hi bro
Log entry created at2024-12-31 09:35:59.229382: This is a log message

1094

In [36]:
#JSON

import json

with open('text.json','w') as fp:
    data = {}
    data['key'] = 'value'
    json.dump(data,fp)

In [37]:
with open('text.json','r') as fp:
    data = fp.read()
    final_data = json.loads(data) #loads converst json obj to dict
    print(final_data)

{'key': 'value'}

In [50]:
#data to be written
import json

dic = {
    "name": "Alex",
    "rollno":56,
    "cgpa": 8.6,
    "ph_num": 12345678
}

json_object = json.dumps(dic,indent=4)

#write to sample.json
with open("data1.json",'w') as ot:
    ot.write(json_object)

In [52]:
with open('data1.json','r') as fp:
    data = fp.read()
    final_data = json.loads(data) 
    print(final_data)

{'name': 'Alex', 'rollno': 56, 'cgpa': 8.6, 'ph_num': 12345678}

In [55]:
import csv
 
#field names
 
fields =['name','branch','year','cgpa']
 
#data rows of csv file
 
rows=[['nikhil','coe',2,9.0],
      ['sanchit','it',3,9.8]]
 
#name of csv file
#filename='records.csv'
 
#writing to a csv file
 
with open('test.csv','w',newline='') as csvfile:
    #creating a csv writer object
    csvwriter =csv.writer(csvfile,dialect='excel')
    #writing the fields
    csvwriter.writerow(fields)
    #writing the data rows
    csvwriter.writerows(rows)

In [54]:
import csv
 
#field names
 
fields =['name','branch','year','cgpa']
 
#data rows of csv file
 
rows=[['nikhil','coe',2,9.0],
      ['sanchit','it',3,9.8]]
 
#name of csv file
#filename='records.csv'
 
#writing to a csv file
 
with open('test1.csv','w') as csvfile:
    #creating a csv writer object
    csvwriter =csv.writer(csvfile,dialect='unix')
    #writing the fields
    csvwriter.writerow(fields)
    #writing the data rows
    csvwriter.writerows(rows)

In [56]:
#open the CSV file for reading
with open("test.csv", mode ='r') as file:
    csv_reader = csv.DictReader(file)

    data_list = []

    for row in csv_reader:
        data_list.append(row)

for data in data_list:
    print(data)

{'name': 'nikhil', 'branch': 'coe', 'year': '2', 'cgpa': '9.0'}
{'name': 'sanchit', 'branch': 'it', 'year': '3', 'cgpa': '9.8'}

In [62]:
import yaml
#define data to b written to YAML

data = {
    'key1': 'value1',
    'key2': 'value2',
    'key3': 'value3'
}

#write data to YAMl file

with open('test1.yaml','w') as f:
    yaml.dump(data, f, default_flow_style=False)

In [59]:
pip install pyyaml

Defaulting to user installation because normal site-packages is not writeable
Collecting pyyaml
  Downloading PyYAML-6.0.2-cp312-cp312-win_amd64.whl.metadata (2.1 kB)
Downloading PyYAML-6.0.2-cp312-cp312-win_amd64.whl (156 kB)
   ---------------------------------------- 0.0/156.3 kB ? eta -:--:--
   ---------------------------------------  153.6/156.3 kB 9.6 MB/s eta 0:00:01
   ---------------------------------------  153.6/156.3 kB 9.6 MB/s eta 0:00:01
   ---------------------------------------- 156.3/156.3 kB 1.2 MB/s eta 0:00:00
Installing collected packages: pyyaml
Successfully installed pyyaml-6.0.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [63]:
#exception handling syntax
'''
try{
    run the Code
}
except{
    handling error
}'''

'\ntry{\n    run the Code\n}\nexcept{\n    handling error\n}'

In [64]:
import sys

a=[2,4,6,'a',8,0]
for i in a:
    try:
        c=2/i
        print(c)
    except:
        print("error", sys.exc_info)

1.0
0.5
0.3333333333333333
error <built-in function exc_info>
0.25
error <built-in function exc_info>

In [ ]:
#Value Error

try:
    n1=int(input())
    n2=int(input())

    r=n1/n2
    print(r)
except ValueError as e:
    print("Invalid error please enter Integer")
except ZeroDivisionError as e:
    print(e)

0.0

In [69]:
#Value Error

try:
    n1=int(input())
    n2=int(input())

    r=n1/n2
    print(r)
except ValueError as e:
    print("Invalid error please enter Integer")

Invalid error please enter Integer

In [70]:
#Arithmetic Error

try:
    a=10
    b =0
    c= a/b
    print(c)
except ArithmeticError as e:
    print(e)

division by zero

In [85]:
#Assertion Error

try:
   x = 1
   y = 0
   assert y != 0, "Invalid Operation"
   print(x / y)
except AssertionError as e:
    print(e)

Invalid Operation

In [72]:
#Type Error

try:
    a= 'hi'+2
    print(a)
except TypeError as e:
    print(e)

can only concatenate str (not "int") to str

In [81]:
#Attribute Error

str = "hello world"

try:
    str.uppe
except AttributeError as e:
    print(e)

'str' object has no attribute 'uppe'

In [88]:
#name error

try:
    print(x)
except NameError as e:
    print(e)

1

In [95]:
#userdefined error

x =11
if x>10:
    raise Exception("error varuthu da")

Exception: error varuthu da

In [98]:
x = 'w'
if not type(x) is int:
    raise Exception ('only interger')

Exception: only interger

In [99]:
#custom error

class NegativeNumber(Exception):
    pass
try:
    num = int(input())
    if num<0:
        raise NegativeNumber("Negative num")
    print(num)
except NegativeNumber as e:
    print(e)

Negative num

In [103]:
#chained Exception

try:
    try:
        num = int(input("Enter a num:"))
        if num == 0:
            raise ValueError("Zero is not allowed")
    except ValueError as ve:
        print(f"Inner Exception:{ve}")
        raise KeyError("An additional key error ")
except KeyError as ke:
    print(f"Outer Exception:{ke}")

Inner Exception:Zero is not allowed
Outer Exception:'An additional key error '