In [1]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.1.0-cp312-cp312-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   - -------------------------------------- 0.7/16.1 MB 14.2 MB/s eta 0:00:02
   ----- ---------------------------------- 2.4/16.1 MB 25.1 MB/s eta 0:00:01
   ------------ --------------------------- 5.2/16.1 MB 36.6 MB/s eta 0:00:01
   -------------------- ------------------- 8.2/16.1 MB 43.6 MB/s eta 0:00:01
   --------------------------- ------------ 10.8/16.1 MB 54.4 MB/s eta 0:00:01
   -------------------------------- ------- 13.2/16.1 MB 59.8 MB/s eta 0:00:01
   ---------------------------------------  15.8/16.1 MB 59.5 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 59.5 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 59.5 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 59.5 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 29.7 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import mysql.connector
#from mysql, connector import pooling
#mydb = pooling.mt()

In [ ]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'root@39'
)

mycursor = mydb.cursor()

mycursor.execute('CREATE DATABASE shop')

In [6]:
mycursor.execute('SHOW DATABASES')

for x in mycursor:
    print(x)

('assestment',)
('assignment1',)
('book_review',)
('information_schema',)
('miniproject',)
('movie_booking',)
('mphasis',)
('mysql',)
('performance_schema',)
('shop',)
('sys',)
('test',)

In [8]:
mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'root@39',
    database = 'shop'
)

mycursor = mydb.cursor()

mycursor.execute('CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))')

print('table created')

table created

In [9]:
mycursor.execute('ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY')

In [10]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val =("John", "Highway 21")
mycursor.execute(sql,val)

mydb.commit()

print(mycursor.rowcount, "record inserted")

1 record inserted

In [ ]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
    ("peter", "low street 3"),
    ("amy", "high avenue 7"),
    ("john", "oak road 10"),
    ("sarah", "pine street 15"),
    ("michael", "maple lane 22"),
    ("jessica", "elm drive 5"),
    ("david", "cedar court 9"),
    ("emma", "birch boulevard 18"),
    ("daniel", "willow way 13"),
    ("linda", "spruce street 12")
]

mycursor.executemany(sql, val) #execute many
mydb.commit()

print(mycursor.rowcount, "was inserted")

10 was inserted

In [19]:
mycursor.execute("SELECT * FROm customers")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Highway 21', 1)
('peter', 'low street 3', 2)
('amy', 'high avenue 7', 3)
('john', 'oak road 10', 4)
('sarah', 'pine street 15', 5)
('michael', 'elm drive 5', 6)
('david', 'cedar court 9', 8)
('emma', 'birch boulevard 18', 9)
('daniel', 'willow way 13', 10)
('linda', 'spruce street 12', 11)

In [16]:
sql = "SELECT * FROM customers WHERE address = 'elm drive 5'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

In [15]:
#delete a record

sql = "DELETE FROM customers where address = 'elm drive 5'"

mycursor.execute(sql)

mydb.commit()

In [18]:

#update


sql = "UPDATE customers SET address = 'elm drive 5' Where address = 'maple lane 22'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s)  affected")

1 record(s)  affected

In [54]:
import mysql.connector

class Mydatabase:
    def __init__(self, host, user, password, database):
        self.host = host
        self.user=user
        self.password = password
        self.database = database
        self.connection = mysql.connector.connect(
            host = self.host,
            user = self.user,
            password = self.password,
            database = self.database
        )
        self.cursor = self.connection.cursor()
        #self.database = self.cursor.execute('CREATE DATABASE shop1')
    

    def createtable(self):
        self.cursor.execute('CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))')

    def inserttable(self,val):
        sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
        self.cursor.execute(sql,val)
        self.connection.commit()

    def altertable(self):
        self.cursor.execute('ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY')

    def mulinsert(self):
        sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
        val = [
            ("peter", "low street 3"),
            ("amy", "high avenue 7"),
            ("john", "oak road 10"),
            ("sarah", "pine street 15"),
            ("michael", "maple lane 22"),
            ("jessica", "elm drive 5"),
            ("david", "cedar court 9"),
            ("emma", "birch boulevard 18"),
            ("daniel", "willow way 13"),
            ("linda", "spruce street 12")
        ]

        self.cursor.executemany(sql, val) #execute many
        self.connection.commit()

    def deletetable(self,add):
        sql = "DELETE FROM customers where address = %s"
        val = (add,)
        self.cursor.execute(sql,val)

        self.connection.commit() 
    
    def updatetable(self,old,new):
        sql = "UPDATE customers SET address = %s Where address = %s"
        val = (old,new)
        self.cursor.execute(sql,val)

        self.connection.commit()



db = Mydatabase(host='localhost',user='root',password='root@39',database='shop1')
#db.createtable()
#db.inserttable(("sanjay", "elm drive 5"))
#db.altertable()
#db.mulinsert()
db.deletetable('Highway 21')
#db.updatetable("oak road 10","elm drive 5")

In [55]:
pip install pymongo

Defaulting to user installation because normal site-packages is not writeable
Collecting pymongo
  Downloading pymongo-4.10.1-cp312-cp312-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp312-cp312-win_amd64.whl (926 kB)
   ---------------------------------------- 0.0/926.7 kB ? eta -:--:--
   -------------------------------- ------ 778.2/926.7 kB 24.8 MB/s eta 0:00:01
   --------------------------------------  921.6/926.7 kB 19.4 MB/s eta 0:00:01
   ---------------------------------------- 926.7/926.7 kB 8.4 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ---------------------------------------- 0.0/313.6 kB ? eta -:--:--
   ---------------------------------------  307.2/313.6 kB ? eta -:--:--
   ---------------------------------------  307.2/313.6 kB ? eta -:--:--
   ---------------------------------------- 313.6/313.6 kB 3.9 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [57]:

from pymongo import MongoClient
from bson.objectid import ObjectId
from bson import SON

client = MongoClient('localhost', 27017)

db = client.newdb

people = db.people

people.insert_one({'name': 'john','age':20})
people.insert_one({'name': 'lisa','age':21})
people.insert_one({'name': 'mia','age':22})

people.insert_many([
    {'name': 'john', 'age': 20},
    {'name': 'lisa', 'age': 21},
    {'name': 'mia', 'age': 22},
    {'name': 'peter', 'age': 23},
    {'name': 'susan', 'age': 24},
    {'name': 'alex', 'age': 25},
    {'name': 'emily', 'age': 26},
    {'name': 'michael', 'age': 27},
    {'name': 'jessica', 'age': 28},
    {'name': 'daniel', 'age': 29}
])

InsertManyResult([ObjectId('67779bcb08a84c2cc4d3834d'), ObjectId('67779bcb08a84c2cc4d3834e'), ObjectId('67779bcb08a84c2cc4d3834f'), ObjectId('67779bcb08a84c2cc4d38350'), ObjectId('67779bcb08a84c2cc4d38351'), ObjectId('67779bcb08a84c2cc4d38352'), ObjectId('67779bcb08a84c2cc4d38353'), ObjectId('67779bcb08a84c2cc4d38354'), ObjectId('67779bcb08a84c2cc4d38355'), ObjectId('67779bcb08a84c2cc4d38356')], acknowledged=True)

In [58]:
for person in people.find():
    print(person)

{'_id': ObjectId('67779b6d08a84c2cc4d3834a'), 'name': 'john', 'age': 20}
{'_id': ObjectId('67779b6e08a84c2cc4d3834b'), 'name': 'lisa', 'age': 21}
{'_id': ObjectId('67779b6e08a84c2cc4d3834c'), 'name': 'mia', 'age': 22}
{'_id': ObjectId('67779bcb08a84c2cc4d3834d'), 'name': 'john', 'age': 20}
{'_id': ObjectId('67779bcb08a84c2cc4d3834e'), 'name': 'lisa', 'age': 21}
{'_id': ObjectId('67779bcb08a84c2cc4d3834f'), 'name': 'mia', 'age': 22}
{'_id': ObjectId('67779bcb08a84c2cc4d38350'), 'name': 'peter', 'age': 23}
{'_id': ObjectId('67779bcb08a84c2cc4d38351'), 'name': 'susan', 'age': 24}
{'_id': ObjectId('67779bcb08a84c2cc4d38352'), 'name': 'alex', 'age': 25}
{'_id': ObjectId('67779bcb08a84c2cc4d38353'), 'name': 'emily', 'age': 26}
{'_id': ObjectId('67779bcb08a84c2cc4d38354'), 'name': 'michael', 'age': 27}
{'_id': ObjectId('67779bcb08a84c2cc4d38355'), 'name': 'jessica', 'age': 28}
{'_id': ObjectId('67779bcb08a84c2cc4d38356'), 'name': 'daniel', 'age': 29}

In [59]:
#catching the id for mike

mike_id =people.insert_one({'name':'mike','age':35}).inserted_id
print(mike_id)

67779e9008a84c2cc4d38357

In [61]:
from bson import ObjectId

print([p for p in people.find({'_id': ObjectId('67779e9008a84c2cc4d38357')})])
print('----')
print([p for p in people.find({'age': {'$lt': 25}})])

[{'_id': ObjectId('67779e9008a84c2cc4d38357'), 'name': 'mike', 'age': 35}]
----
[{'_id': ObjectId('67779b6d08a84c2cc4d3834a'), 'name': 'john', 'age': 20}, {'_id': ObjectId('67779b6e08a84c2cc4d3834b'), 'name': 'lisa', 'age': 21}, {'_id': ObjectId('67779b6e08a84c2cc4d3834c'), 'name': 'mia', 'age': 22}, {'_id': ObjectId('67779bcb08a84c2cc4d3834d'), 'name': 'john', 'age': 20}, {'_id': ObjectId('67779bcb08a84c2cc4d3834e'), 'name': 'lisa', 'age': 21}, {'_id': ObjectId('67779bcb08a84c2cc4d3834f'), 'name': 'mia', 'age': 22}, {'_id': ObjectId('67779bcb08a84c2cc4d38350'), 'name': 'peter', 'age': 23}, {'_id': ObjectId('67779bcb08a84c2cc4d38351'), 'name': 'susan', 'age': 24}]

In [62]:
print('LISA COUNT')
print(people.count_documents({'name':'lisa'}))

LISA COUNT
2

In [65]:
people.update_one({'_id': ObjectId('67779e9008a84c2cc4d38357')}, {'$set': {'age': 88}})

UpdateResult({'n': 1, 'nModified': 0, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [66]:
people.delete_many({'age':{'$lt':25}})

DeleteResult({'n': 8, 'ok': 1.0}, acknowledged=True)

In [67]:
#delete

people.delete_many({'age':{'$lt':25}})

DeleteResult({'n': 0, 'ok': 1.0}, acknowledged=True)

In [69]:
pipeline = [
    {
        '$group':{
            '_id':'$name',
            'averageAge':{'$avg':'$age'}
        }
    },
    {
        '$sort':SON([('averageAge',-1)])
    }
]
 
results = people.aggregate(pipeline)
 
for result in results:
    print(result)

{'_id': 'mike', 'averageAge': 88.0}
{'_id': 'daniel', 'averageAge': 29.0}
{'_id': 'jessica', 'averageAge': 28.0}
{'_id': 'michael', 'averageAge': 27.0}
{'_id': 'emily', 'averageAge': 26.0}
{'_id': 'alex', 'averageAge': 25.0}

In [70]:
from pymongo import MongoClient

#connect
client = MongoClient('mongodb://localhost:27017/')

db = client['mydb1']
collection = db['emp_data1']

In [71]:
#insert

document = {
    "name":"Alice",
    "age":30,
    "city":"New York"
}
 
res = collection.insert_one(document)
print(f"inserted document ID: {res.inserted_id}")

inserted document ID: 6777a66c08a84c2cc4d38359

In [72]:
#find one document
document = collection.find_one({'name': 'Alice'})
print(document)

{'_id': ObjectId('6777a66c08a84c2cc4d38359'), 'name': 'Alice', 'age': 30, 'city': 'New York'}

In [ ]:
#update single document

query = {'name': 'Alice'}
new_values = {'$set':{"age":31}}

result = collection.update

In [74]:
#match
#find all documnet

pipeline = [
    {'$match':{"age":{"$gt":30}}}
]

result = collection.aggregate(pipeline)

for doc in result:
    print(doc)

In [76]:
#group

pipeline = [
    {"$group":{"_id":"$city","count":{"$sum":1}}}
]

result = collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'_id': 'New York', 'count': 1}

In [77]:
#sort

pipeline = [
    {"$group":{"_id":"$city","total_age":{"$sum":"@age"}}},
    {"$sort":{"total_age": -1}}
]

result = collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'_id': 'New York', 'total_age': 0}

In [78]:
#limit 3

pipeline = [
    {"$limit": 3}
]

result = collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'_id': ObjectId('6777a66c08a84c2cc4d38359'), 'name': 'Alice', 'age': 30, 'city': 'New York'}

In [80]:
pipeline = [
    {"$addFields": {"is_adult": {"$gte": ["$age", 18]}}}
]

result = collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'_id': ObjectId('6777a66c08a84c2cc4d38359'), 'name': 'Alice', 'age': 30, 'city': 'New York', 'is_adult': True}

In [ ]:
class mdb:

    def